body {
  margin: 0;
  padding: 0;
  min-width: 800px;
}

/* GRID STYLES */
.ModelsToolBox {
  width: 35%;
  position: fixed;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 55vh 45vh;
  min-width: 450px;
}

.ResultsToolBox {
  width: min(65%, calc(100% - 450px));
  float: right;
  display: grid;
  overflow-y: auto hidden;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: max-content;
}

.FunctionsToolBox {
  border-radius: 1%;
  border: 1px solid #2F444E;
  margin-top: 0.25%;
  margin-bottom: 0.25%;
  margin-left: 0.5%;
  margin-right: 0.5%;
}

.MacroToolBox {
  border-radius: 1%;
  border: 1px solid #2F444E;
  margin-top: 0.25%;
  margin-bottom: 0.25%;
  margin-left: 0.5%;
  margin-right: 0.5%;
}

.AddMBSToolBox {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(245, 245, 245, 0.5);
  border-radius: 1%;
  width: auto;
  height: 48.9vh;
  border-style: dashed;
  border-color: rgb(196, 196, 196, 0.5);
  border-width: 2px;
  margin: 0.5%;
  cursor: pointer;
}

.MBSToolBox {
  position: relative;
  border: 1px solid #2F444E;
  border-radius: 1%;
  width: auto;
  height: 49.1vh;
  margin: 0.5%;
}

.CloseMBSToolBox {
  float: right;
}

@media (max-height: 540px) {
  .ModelsToolBox {
      grid-template-rows: 297px 243px;
}
  .MBSToolBox, .AddMBSToolBox {
      height: 270px;
}
}

.datePickerDiv {
  text-align: center;
}


@media (max-width: 1024px) {
  .ResultsToolBox {
      grid-template-columns: 1fr;
  }
}


/* TEXT STYLES */
.PlusSign {
  font-size: 85px;
  text-shadow: 1px 2px 2px rgb(155, 155, 155);
  color: rgb(218, 218, 218);
  user-select: none;
}

.tooltip {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9px;
  width: 20px;
}

/* COMBO BOX STYLES */
.MuiOutlinedInput-root {
  padding: 0 !important;
  padding-left: 6% !important;
}

.MuiInputLabel-shrink {
  top: 0% !important;
  left: 0% !important;
}

/* MACROTABS STYLES */
.MuiTab-textColorPrimary.Mui-selected {
  color: rgb(47, 68, 78) !important;
  font-weight: 600;
}

.PrivateTabIndicator-colorPrimary-63 {
  background-color: rgba(139, 197, 64, 0.8) !important;
  /* background-color: rgba(170, 192, 141, 0.397) !important; */
}